/*Estilos Generales*/

*{
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
}

.padre{
	display: flex;
	flex-flow: column;
}

/*================================================================================*/
/*Cabecera*/

	.header{
		background-color: #000;
	}

		.logo{
			background-color: #EDFEAD;
			height: 100px; 
			
		}

		.imagen-cabecera{
			background-color: #00C9B1;
			height: 300px; 
		}

/*================================================================================*/
/*Contenido Principal*/

	.contenido-principal{
		background-color: #000;
	}

		.titulo{
			background-color: #F7B32D;
		}

		.productos{
			background-color: #E43A19;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 10%;
		}
		
		.producto{
			background-color: #8559A5;
			margin: 10px;
			width: 300px;
			height: 400px;

		}

/*================================================================================*/

/*Menu Responsive*/

@media all and (max-width:1628px){

	.producto{
		width: 200px;
		height: 300px;
	}
}
